:root {
  --color-primary-dark-blue: hsl(233, 47%, 7%);
  --color-primary-dark-purple: hsl(244, 38%, 16%);
  --color-primary-soft-violet: hsl(277, 64%, 61%);
  --color-primary-soft-violet-transparent: hsla(277, 64%, 61%, 0.5);

  --color-neutral-white: hsl(0, 0%, 100%);
  --color-neutral-paragraph-white: hsla(0, 0%, 100%, 0.75);
  --color-neutral-headings-white: hsla(0, 0%, 100%, 0.6);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--color-primary-dark-blue);
  color: var(--color-neutral-white);
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

.stats-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-primary-dark-purple);
  max-width: 70%;
  border-radius: 5px;
  overflow: hidden;
}

.card-inner {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  max-width: 530px;
}

.main-header,
.sub-header {
  margin-bottom: 2rem;
}

.sub-header {
  font-weight: 400;
  color: var(--color-neutral-paragraph-white);
}

.insights-highlight {
  color: var(--color-primary-soft-violet);
}

.stats-numbers {
  display: flex;
  margin-top: auto;
}

.stat-item {
  margin-right: 2rem;
  text-transform: uppercase;
  line-height: 1.6;
}

.stat-item span {
  color: var(--color-neutral-paragraph-white);
}

.image-container {
  background: linear-gradient(hsla(277, 64%, 61%, 0.5), hsla(277, 64%, 61%, 0.5)), url('images/image-header-desktop.jpg') no-repeat;
  background-size: cover;
}

@media (max-width: 1200px) {
  .stats-card-container {
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(450px, max-content);
    height: auto;
    max-width: 90%;
  }

  .stats-numbers {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .stat-item {
    margin: 0;
  }

  .card-inner {
    padding: 2rem;
    order: 2;
  }

  .image-container {
    order: 1;
  }
}

@media (max-width: 375px) {

  .stats-card-container {
    grid-template-rows: minmax(250px, max-content);
  }

  .main-header {
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .card-inner {
    padding: 2.5rem 2rem;
  }
}